# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
bin/*

# Clang
.clangd/*

# CMakes
*.make
CMakeCache.txt
CMakeFiles/*
Makefile
*.cmake
compile_commands.json

# Build output
build
.vscode